@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3 order-md-first" id="profile-column">
            <div class="text-left" id="profile">
                <p>
                    <figure class="figure">
                        <img src="~/assets/victor-chimenti.jpg" class="img-fluid d-block" alt="Victor Chimenti" caption="Victor Chimenti, MSCS-SE '20" />
                        <figcaption class="figure-caption">Victor Chimenti, MSCS-SE '20</figcaption>
                    </figure>
                </p>
                <h5>Education</h5>
                <p>
                    <a href="https://www.seattleu.edu/scieng/computer-science/graduate/mscs/software-engineering-specialization/" target="_blank" title="Seattle U Computer Science">Seattle University</a><br />
                    <span>
                        Master of Science in Computer Science<br />
                        - Specialization in Software Engineering<br />
                        June 2020
                    </span>
                </p>
                <h5>Experience</h5>
                <p>
                    <a href="https://www.seattleu.edu/marcom/" target="_blank" title="Seattle U Marketing and Communication">Seattle University</a><br />
                    <span>
                        Web Developer<br />
                        November 2017 - Present
                    </span>
                </p>
                <h5>Connect</h5>
                <p>
                    <span class="icons">
                        <a href="https://www.linkedin.com/in/victorchimenti/" target="_blank" title="Victor Chimenti LinkedIn Profile">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/vicchimenti" target="_blank" title="Victor Chimenti GitHub Profile">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://twitter.com/VicChimenti" target="_blank" title="Victor Chimenti Twitter Profile">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://stackoverflow.com/users/7718627/vic" target="_blank" title="Victor Chimenti Stack Overflow Profile">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                        <a href="https://www.facebook.com/victor.chimenti.7" target="_blank" title="Victor Chimenti Facebook Profile">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </span>
                </p>
                <br />
            </div>
        </div>
        <div class="col-xs-12 col-md-9 order-md-last" id="main-column">
            <div class="col-12 text-left" id="introduction-wrapper">
                <h2 class="display-4" id="introduction">Software Developer Portfolio</h2>
                <p>
                    Welcome to my new Developer Portfolio Tool. This web application is a live prototype that when complete will allow developers to create a user account then quickly implement a portfolio of their work from a simple template.
                </p>
                <p>
                    This site represents my preferred approach to web applications; a clean business friendly UI with all elements meeting the
                    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="card-link" title="WCAG Accessibility Guidelines" target="_blank">WCAG Accessibility Guidelines</a>
                    which many businesses are required to adhere. Users expect apps to deliver the same responsive functionality and ease of use in any browser and on any desktop, laptop, tablet or mobile device. Developer Portfolio is built with this philosophy and serves not only as my personal portfolio, but also as an example of my work.
                </p><hr />
            </div>





            @*
                This begins the floating section that will hold various components such as resume, about, privacy etc.
                By default it will hold the Projects component until this application is further along
            *@
            <div class="container-fluid col-12 text-left" id="projects-filter-container">
                <h3 class="display-4" id="project-header">Projects</h3>
                <div class="row">
                    <div class="col-xs-12 col-md-8" id="projects-wrapper">


                        @* Project 03 *@
                        <div class="card border-dark rounded-0 accordion" id="project-03">
                            <div class="card-header" id="heading-project-03">
                                <a href="#" class="btn-link" id="button-project-03" data-toggle="collapse" data-target="#collapse-project-03" aria-expanded="false" aria-controls="collapse-project-03">
                                    <span class="cardTitleBox">
                                        <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                        <span class="card-title">ATM Locator</span>
                                    </span>
                                </a>
                                <p class="card-subtitle">An ATM locator app that allows users in the Seattle area to find and get directions to the best Credit Union ATM to suit their needs on the go.</p>
                                <img class="card-img" src="~/assets/Project Images/atm-locator-full_c16x9_s1000_mw.jpg" alt="atm locator application">
                            </div>
                            <div class="collapse in" id="collapse-project-03" aria-expanded="false">
                                <div class="card-body">
                                    <h4 class="card-text">Description</h4>
                                    <p class="card-text">
                                        My graduate capstone team was tasked with replacing an <a href="https://www.becu.org/locations/find-locations" class="card-link" title="Boeing Employees Credit Union" target="_blank">existing ATM Locator for BECU</a>, a local credit union. This two quarter project gave us an opportunity to follow the full Agile Software Development Life Cycle with their inhouse engineers, analysts, project managers and directors. We were given private access to the <a href="https://www.co-opfs.org/Solutions/Integrate/Developer-Portal" class="card-link ml-0" title="COOP Developer Portal" target="_blank">COOP API</a> to pull data about partner credit unions. Because the data in this API was sourced from a variety of organizations and it was imperative that no duplicate locations appear on the map, we built two SQL databases that were hosted on Azure Cloud student accounts.
                                    </p>
                                    <p class="card-text">
                                        The flat database pulled data in batches from the COOP API, we scrubbed the entries and loaded the results into a second database designed with a custom schema for our client. The customer facing Google Map application pulls its data from the custom database.
                                    </p>
                                    <p class="card-text">
                                        In addition to the requirements elicitation and weekly stand ups with the client, my role was to build the web application using .Net Core MVC and host it on the Azure Cloud. One of the biggest challenges for me was sorting the ATMs by distance from the user's location. To accomplish this I used the Microsoft NetTopologySuite to compare information provided by a session cookie. The prototype you see here is the working example of my contributions to the capstone team.
                                    </p>
                                    <hr />
                                    <h4 class="card-text">Tech Stack</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item">.NET Core</li>
                                        <li class="list-group-item">MVC Pattern</li>
                                        <li class="list-group-item">Razor Page</li>
                                        <li class="list-group-item">Bootstrap</li>
                                        <li class="list-group-item">Azure Cloud</li>
                                        <li class="list-group-item">Entity Framework</li>
                                        <li class="list-group-item">NetTopologySuite</li>
                                        <li class="list-group-item">Private COOP API</li>
                                        <li class="list-group-item">Google Map JS API</li>
                                        <li class="list-group-item">SQL</li>
                                        <li class="list-group-item">AJAX</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a href="https://locator-coop.azurewebsites.net/" class="card-link" title="Maphawks ATM Locator" target="_blank">Live Site</a>
                                    <a href="https://github.com/Victor-Chimenti/Locator" class="card-link" title="Capstone Team Git Hub Code Repository" target="_blank">GitHub Repo</a>
                                </div>
                            </div>
                        </div>


                        @* Project 02 *@
                        <div class="card border-dark rounded-0 accordion" id="project-02">
                            <div class="card-header" id="heading-project-02">
                                <a href="#" class="btn-link" id="button-project-02" data-toggle="collapse" data-target="#collapse-project-02" aria-expanded="false" aria-controls="collapse-project-02">
                                    <span class="cardTitleBox">
                                        <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                        <span class="card-title">Education Abroad Program Filter/Search Application</span>
                                    </span>
                                </a>
                                <p class="card-subtitle">An application that displays, sorts, searches and filters programs for the Seattle University Education Abraod Department.</p>
                                <img class="card-img" src="~/assets/Project Images/education-abroad-full-page-argentina-filter_s16x9_s1000_mw.jpg" alt="Education Abroad Filter Search Tool">
                            </div>
                            <div class="collapse in" id="collapse-project-02" aria-expanded="false">
                                <div class="card-body">
                                    <h4 class="card-text">Description</h4>
                                    <p class="card-text">
                                        The Education Abroad Department approached me with a problem they needed help in solving. The old system they used to help students search for opportunities to study overseas was a depreciated legacy system that was built in the 90's. The system was cumbersome on desktops and unusable on mobile devices. Their request was to build a new application from scratch that could be hosted on the University's site and managed with our CMS.
                                    </p>
                                    <p class="card-text">
                                        Like many software projects we had multiple stakeholders with differing visions of how the application should look and operate. We also explored many changes in features and requirements as the project grew. I managed and documented all requirements and feature requests, guided the client through each step and set expectations for appropriate scope. Together we met in regular sprints through the development lifecycle and ensured that all stakeholders were happy with each stage in the implementation of a tool that met their needs and requirements.
                                    </p>
                                    <p class="card-text">
                                        A unique piece to this project was in the development of the jQuery filter/search engine. The University had been using the depreciated jQuery quicksearch plug-in. I was asked to develop a new filter search algorithm using raw jQuery. The code base in this project contains this new algorithm and subsequent projects that descend from this original have made further improvements on it.
                                    </p>
                                    <hr />
                                    <h4 class="card-text">Tech Stack</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item">JavaScript</li>
                                        <li class="list-group-item">jQuery</li>
                                        <li class="list-group-item">HTML</li>
                                        <li class="list-group-item">Bootstrap</li>
                                        <li class="list-group-item">CSS</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a href="https://www.seattleu.edu/abroad/students/explore/programs/" class="card-link" title="Education Abroad Explore Programs" target="_blank">Live Site</a>
                                    <a href="https://github.com/Victor-Chimenti/filter_search_tool" class="card-link" title="Education Abroad Program Project Git Hub Code Repository" target="_blank">GitHub Repo</a>
                                </div>
                            </div>
                        </div>


                        @* Project 01 *@
                        <div class="card border-dark rounded-0 accordion" id="project-01">
                            <div class="card-header" id="heading-project-01">
                                <a href="#" class="btn-link" id="button-project-01" data-toggle="collapse" data-target="#collapse-project-01" aria-expanded="false" aria-controls="collapse-project-01">
                                    <span class="cardTitleBox">
                                        <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                        <span class="card-title">Developer Portfolio</span>
                                    </span>
                                </a>
                                <p class="card-subtitle">A responsive web application that allows engineers to quickly deploy a portoflio of their work samples.</p>
                                <img class="card-img" src="~/assets/Project Images/dev_portv3-c16x9-s1000-mw.jpg" alt="developer portfolio project">
                            </div>
                            <div class="collapse in" id="collapse-project-01" aria-expanded="false">
                                <div class="card-body">
                                    <h4 class="card-text">Description</h4>
                                    <p class="card-text">
                                        Developers often need an updated portfolio for interviewing. Noticing this demand I decided to build my own portfolio from scratch as a template for the launch of this application. The public view represents an isolated front-end specific to the developer whose profile it hosts. With the secure and private backend I am able to add new projects via CRUDi commands which will appear in the formatted list of projects. This gives the user not only a survey of my history but also a live inspection of what I'm working on now.
                                    </p>
                                    <p class="card-text">
                                        The Developer Portfolio Application is still in the live prototype phase and an excellent opportunity for you to follow the progress of my work over time.
                                    </p>
                                    <hr />
                                    <h4 class="card-text">Tech Stack</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item">.NET Core</li>
                                        <li class="list-group-item">MVC Pattern</li>
                                        <li class="list-group-item">Razor Page</li>
                                        <li class="list-group-item">Bootstrap</li>
                                        <li class="list-group-item">Azure Cloud</li>
                                        <li class="list-group-item">Entity Framework</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a href="https://chimenti.azurewebsites.net/" class="card-link" title="Live Developer Portfolio Website" target="_blank">Live Site</a>
                                    <a href="https://github.com/vicchimenti/portfolio" class="card-link" title="Git Hub Code Repository" target="_blank">GitHub Repo</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    @* This column will hold the filter search engine once multiple projects are posted *@
                    <div class="col-xs-12 col-md-4">
                        @*<h3>Filter</h3>*@
                        @*<figure class="figure">
                            <img class="brand-logo img-fluid" src="~/assets/Vertical Logo_s400-sharper.jpg" alt="</> Victor Chimenti" />
                        </figure>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
