@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3 order-md-first" id="profile-column">
            <div class="text-left" id="profile">
                <p>
                    <figure class="figure">
                        <img src="~/assets/victor-chimenti.jpg" class="img-fluid d-block" alt="Victor Chimenti" caption="Victor Chimenti, MSCS-SE '20" />
                        <figcaption class="figure-caption">Victor Chimenti, MSCS-SE '20</figcaption>
                    </figure>
                </p>
                <h5>Education</h5>
                <p>
                    <a href="https://www.seattleu.edu/scieng/computer-science/graduate/mscs/software-engineering-specialization/" target="_blank" title="Seattle U Computer Science">Seattle University</a><br />
                    <span>
                        Master of Science in Computer Science<br />
                        - Specialization in Software Engineering<br />
                        March 2020
                    </span>
                </p>
                <h5>Experience</h5>
                <p>
                    <a href="https://www.seattleu.edu/marcom/" target="_blank" title="Seattle U Marketing and Communication">Seattle University</a><br />
                    <span>
                        Web Developer<br />
                        November 2017 - Present
                    </span>
                </p>
                <br />
                <h5>Connect</h5>
                <p>
                    <span class="icons">
                        <a href="https://www.linkedin.com/in/victorchimenti/" target="_blank" title="Victor Chimenti LinkedIn Profile">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.facebook.com/victor.chimenti.7" target="_blank" title="Victor Chimenti Facebook Profile">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/VicChimenti" target="_blank" title="Victor Chimenti Twitter Profile">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/vicchimenti" target="_blank" title="Victor Chimenti GitHub Profile">
                            <i class="fab fa-github"></i>
                        </a>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-9 order-md-last" id="main-column">
            <div class="col-12 text-center" id="introduction-wrapper">
                <h2 class="display-4" id="introduction">Software Developer Portfolio</h2>
                <p class="text-left">
                    Welcome to my new Developer Portfolio Tool. This web application is a live prototype that when complete will allow developers to create a user account then quickly implement a portfolio of their work from a simple template.
                </p>
                <p class="text-left">
                    This site represents my preferred approach to web applications; a clean business friendly UI with all navigation tools in reach and all elements meeting the 
                    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="card-link" title="WCAG Accessibility Guidelines" target="_blank">WCAG Accessibility Guidelines</a> 
                    that many businesses are required to adhere to. As a user I expect apps to deliver the same functionality and ease of use in any browser and on any desktop, laptop, tablet or mobile device. Developer Portfolio is built with this philosophy and serves not only as my personal portfolio, but as an example of my work.
                </p><hr />
            </div>
            <div class="container-fluid col-12 text-left" id="project-container">
                <div class="row" id="project-row">
                    <div class="col-xs-12 col-md-10">
                        <h3 class="display-4" id="project-header">Projects</h3>
                        <div class="card border-dark rounded-0 accordion" id="project-01">
                            <div class="card-header" id="heading-project-01">
                                <a href="#" class="btn-link" id="button-project-01" data-toggle="collapse" data-target="#collapse-project-01" aria-expanded="false" aria-controls="collapse-project-01">
                                    <span class="cardTitleBox">
                                        <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                        <span class="card-title">Developer Portfolio</span>
                                    </span>
                                </a>
                                <p class="card-subtitle">A responsive web application that allows engineers to quickly deploy a portoflio of their work samples.</p>
                                <img class="card-img" src="~/assets/Project Images/dev-portv2-c16x9-s1000-mw.jpg" alt="developer portfolio project">
                            </div>
                            <div class="collapse in" id="collapse-project-01" aria-expanded="false">
                                <div class="card-body">
                                    <h4 class="card-text">Description</h4>
                                    <p class="card-text">
                                        Developers often need an updated portfolio for interviewing. Noticing this demand I decided to build my own portfolio from scratch as a template for the launch of this application. The public view represents an isolated front-end specific to the developer whose profile it hosts. With the secure and private backend I am able to add new projects via CRUDi commands which will appear in the formatted list of projects. This gives the user not only a survey of my history but also a live inspection of what I'm working on now.
                                    </p>
                                    <p class="card-text">
                                        The Developer Portfolio Application is still in the live prototype phase and an excellent opportunity for you to follow the progress of my work over time.
                                    </p>
                                    <hr />
                                    <h4 class="card-text">Tech Stack</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item">.NET Core</li>
                                        <li class="list-group-item">MVC Pattern</li>
                                        <li class="list-group-item">Razor Page</li>
                                        <li class="list-group-item">Bootstrap</li>
                                        <li class="list-group-item">Azure Cloud</li>
                                        <li class="list-group-item">Entity Framework</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a href="https://chimenti.azurewebsites.net/" class="card-link" title="Live Developer Portfolio Website" target="_blank">Live Site</a>
                                    <a href="https://github.com/vicchimenti/portfolio" class="card-link" title="Git Hub Code Repository" target="_blank">GitHub Repo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        @*<h3>Filter</h3>*@
                        @*<figure class="figure">
                            <img class="brand-logo img-fluid" src="~/assets/Vertical Logo_s400-sharper.jpg" alt="</> Victor Chimenti" />
                        </figure>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
