@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3 order-md-first" id="profile-column">
            <div class="text-left" id="profile">
                <p>
                    <figure class="figure">
                        <img src="~/assets/victor-chimenti.jpg" class="img-fluid d-block" alt="Victor Chimenti" caption="Victor Chimenti, MSCS-SE" />
                        <figcaption class="figure-caption">Victor Chimenti, MSCS-SE</figcaption>
                    </figure>
                </p>
                <h5>Education</h5>
                <p>
                    Seattle University<br />
                    <span>
                        Master of Science in Computer Science<br />
                        - Specialization in Software Engineering<br />
                        Class of 2020
                    </span>
                </p>
                <h5>Experience</h5>
                <p>
                    <a href="https://www.seattleu.edu/" target="_blank">Seattle University</a><br />
                    <span>
                        Web Developer<br />
                        November 2017 - Present
                    </span>
                </p>
                <br />
            </div>
        </div>
        <div class="col-xs-12 col-md-9 order-md-last" id="main-column">
            <div class="text-center" id="introduction-wrapper">
                <h3 class="display-4" id="introduction">Software Developer Portfolio</h3>
                <p class="text-left">
                    Welcome to my new Developer Portfolio Tool. This web application is a live prototype and when complete will allow developers to create a user account then quickly implement a profile of their work from a simple template.
                </p>
                <p class="text-left">
                    This site represents my preferred approach to web applications; a clean business friendly UI with all navigation tools in reach and all elements meeting W3C Web Accessibility guidelines that many business are required to adhere to. As a user I expect apps to deliver the same functionality and ease of use in any browser and on any desktop, laptop, tablet or mobile device. Developer Portfolio is built with this philosophy and serves not only as my personal portfolio, but as an example of my work.
                </p><hr />
            </div>
            <div class="container-fluid col-12 text-left" id="project-container">
                <div class="row" id="project-row">
                    <div class="col-xs-12 col-md-10">
                        <h4 class="display-4" id="project-header">Projects</h4>
                        <div class="card border-dark rounded-0 accordion" id="project-01">
                            <div class="card-header" id="heading-project-01">
                                <a href="#" class="btn-link" id="button-project-01" data-toggle="collapse" data-target="#collapse-project-01" aria-expanded="false" aria-controls="collapse-project-01">
                                    <span class="cardTitleBox">
                                        <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                        <span class="card-title">Developer Portfolio</span>
                                    </span>
                                </a>
                                <p class="card-subtitle">A responsive web application that allows engineers to quickly deploy a portoflio of their work samples.</p>
                                <img class="card-img" src="~/assets/Project Images/dev-portv2-c16x9-s1000-mw.jpg" alt="developer portfolio project">
                            </div>
                            <div class="collapse in" id="collapse-project-01" aria-expanded="false">
                                <div class="card-body">
                                    <p class="card-text">
                                        It was important to me that my portfolio be an example of my work. So I built it with a set of tools I'm very comfortable using and added CRUDi functionality so that I can add new projects to the database as I work on them and those projects will automatically appear on my portfolio. This gives the user not only a look over my history but also a live look at what I'm working on now.
                                    </p>
                                    <hr />
                                    <h6 class="card-text">Tech Stack</h6>
                                    <ul class="list-group">
                                        <li class="list-group-item">.NET Core</li>
                                        <li class="list-group-item">MVC Pattern</li>
                                        <li class="list-group-item">Razor Page</li>
                                        <li class="list-group-item">Bootstrap</li>
                                        <li class="list-group-item">Azure Cloud</li>
                                        <li class="list-group-item">SQL</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a href="https://chimenti.azurewebsites.net/" class="card-link" title="Live Developer Portfolio Website" target="_blank">Live Site</a>
                                    <a href="https://github.com/vicchimenti/portfolio" class="card-link" title="Git Hub Code Repository" target="_blank">GitHub Repo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        @*<h5>Filter</h5>*@
                        @*<figure class="figure">
                            <img class="brand-logo img-fluid" src="~/assets/Vertical Logo_s400-sharper.jpg" alt="</> Victor Chimenti" />
                        </figure>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
