@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy
    We value your privacy.
    This site is a prototype, and does not attempt to keep data secure or private.
    Do not use the system if you are concerned about your data privacy.

    All data on this site may be deleted, modified, or exposed at any time.
</p>
