/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}






/*** custom css ***/

/*div#project-container {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}*/

h2 {
    color: #346DBF;
}

h3 {
    color: #346DBF;
}

h4 {
    color: #346DBF;
}

a:hover {
    display: inline-block;
}

.icons {
    font-size: 2rem;
}

.fa-github {
    color: #F4CBB2;
    text-decoration: none;
}

.fa-twitter {
    color: #00acee;
    text-decoration: none;
}

.fa-facebook-f {
    color: #3b5998;
    text-decoration: none;
}

.fa-linkedin-in {
    color: #0e76a8;
    text-decoration: none;
}

.fa-stack-overflow {
    color: #f47f24;
    text-decoration: none;
}

i.fab:hover {
    color: #0275d8;
    text-decoration: none;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

h4#project-header {
    padding-bottom: .5rem;
}


.card-subtitle {
    margin: .25rem;
    padding: .25rem;
}

div.card-header a.btn-link span.cardTitleBox {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 500;
}

div.card-header a.btn-link:hover {
    text-decoration: none;
}

div.card div.card-header a.btn-link:hover span.cardTitleBox i.fas {
    text-decoration: none;
}

span.card-name:hover {
    text-decoration: underline;
}

div.card div.card-header a.btn-link span.cardTitleBox i.fa-plus {
    display: none;
}

div.card div.card-header a.btn-link[aria-expanded="false"] span.cardTitleBox i.fa-plus {
    display: initial;
}

div.card div.card-header a.btn-link[aria-expanded="false"] span.cardTitleBox i.fa-minus {
    display: none;
}

div.card div.card-header a.btn-link:checked span.cardTitleBox i.fas {
    text-decoration: none;
}

div.card div.card-header a.btn-link:visited span.cardTitleBox i.fas {
    text-decoration: none;
}

div.card div.card-header a.btn-link:after span.cardTitleBox i.fas {
    text-decoration: none;
}






div#main-column {
    margin-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 1rem;
}

div#body-container {
    margin-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 1rem;
}

div#projects-wrapper {
    /*height: 725px;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    margin: 1rem;
    max-width: none;
    width: 100%;
}





/***  Media Queries Min Width ***/

@media (min-width: 1200px) {
    .container {
        margin: 1rem;
        width: 100%;
    }
}


@media (min-width: 992px) {
    .container {
        margin: 1rem;
        width: 100%;
    }
}


@media (min-width: 768px) {
    .container {
        margin: 1rem;
        width: 100%;
    }
}


@media (min-width: 576px) {
    .container {
        margin: 1rem;
        width: 100%;
    }
}




/***  Media Queries Max Width ***/


@media (max-width: 1199px) {
    div.card-header a.btn-link span.cardTitleBox {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 400;
    }
    h4.card-text {
        font-size: 1.4rem;
    }
}


@media (max-width: 992px) {
    .display-4 {
        font-size: 2.25rem;
    }
    div.card-header a.btn-link span.cardTitleBox {
        font-size: 1.4rem;
    }
    h4.card-text {
        font-size: 1.3rem;
    }
    .icons {
        font-size: 1.75rem;
    }
}


@media (max-width: 768px) {
    .display-4 {
        font-size: 1.75rem;
    }
    div.card-header a.btn-link span.cardTitleBox {
        font-size: 1.3rem;
    }
    h4.card-text {
        font-size: 1.2rem;
    }
}


@media (max-width: 576px) {
    .display-4 {
        font-size: 1.5rem;
    }
    div.card-header a.btn-link span.cardTitleBox {
        font-size: 1.2rem;
    }
    h4.card-text {
        font-size: 1.1rem;
    }
}









/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
